pkgbase = prex
	pkgdesc = Run Windows executables in Steam Proton prefixes
	pkgver = 0.5.3
	pkgrel = 2
	url = https://github.com/eyenalxai/prex
	arch = x86_64
	license = GPL3
	makedepends = cargo
	depends = gcc-libs
	depends = sqlite
	options = !debug
	options = strip
	source = prex-0.5.3.tar.gz::https://github.com/eyenalxai/prex/archive/v0.5.3.tar.gz
	sha256sums = 81d36af1e13773e6ae592c9b9e2bfa687ea92cc4b93e0114c5109220baff5c8a

pkgname = prex
