pkgbase = prex
	pkgdesc = Run Windows executables in Steam Proton prefixes
	pkgver = 0.5.4
	pkgrel = 2
	url = https://github.com/eyenalxai/prex
	arch = x86_64
	license = GPL3
	makedepends = cargo
	depends = gcc-libs
	depends = sqlite
	options = !debug
	options = strip
	source = prex-0.5.4.tar.gz::https://github.com/eyenalxai/prex/archive/v0.5.4.tar.gz
	sha256sums = 64b9813f79f974453cb2af76ac7d6fdd0b90c193281fa834b8d7a64e4ee0912c

pkgname = prex
